{% extends 'base.html' %}
{% block content %}
    <h2 class="card-title">Profile</h2>
    <br/>
    <div class="card">
        <div class="card-header">
            ID: {{ user.id }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ user.username }} ({{ user.first_name }} {{ user.last_name }})</h5>
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="card-footer">
            <span class="badge bg-secondary">作成日: {{ request.user.created_at }}</span>
            <span class="badge bg-secondary">最終Login日: {{ request.user.last_login }}</span>
            {% if user.is_active %}<span class="badge bg-success">有効</span>
            {% else %}<span class="badge bg-danger">無効</span>{% endif %}
            {% if user.is_staff %}<span class="badge bg-primary">dsbd管理者</span>{% endif %}
        </div>
    </div>
    <br/>
    <br/>
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">2段階認証のデバイス追加</h5>
                <div class="container">
                    2段階認証用のデバイスを追加したい場合はこちらを選択してください。
                </div>
                <br/>
                <button type="submit" class="btn btn-primary" name="id" value="two_auth">2段階認証のデバイス追加
                </button>
            </div>
        </div>
    </form>
{% endblock content %}
